* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}


h1{
    text-decoration: underline;
    text-align: center;
}

.primera-foto,.segunda-foto,.tercera-foto{
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-name: aparece;
}

.primera-foto{
    position: relative;
    height: 700px;
    left: 55%;
    top: 605px;
    width: 800px;
}

.segunda-foto{
    position: relative;
    left: 12%;
    height: 700px;
    width: 800px;
    bottom: 150px;
}


.tercera-foto{
    width: 937px;
    position: relative;
    left: 2%;
    bottom: 100px;
}
.palabra{
    font-size: 28px;
    position: relative;
    width: 40%;
    left: 5%;
    top: 300px;
}

li{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    position: relative;
    top: 50px;
    font-size: 30px;
}
.container{
    position: relative;
    top: 100px;
}

.ariel{
    color: salmon;
}

.franco{
    color: rgb(223, 28, 67);
}

.alexis{
    color: rgb(23, 77, 240);
}

@keyframes aparece{
    0%{opacity: 0%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}