<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ariel.css">
    <title>Palabras de Ariel</title>
</head>
<body>
    <h1>Ariel te decica estas hermosas palabras:</h1>
    <div class="container">
        <img class="primera-foto" src="/images/ariel.jpg" alt="">
        <img class="segunda-foto" src="/images/ariel2.jpg" alt="">
        <p class="palabra">
            Feliz cumpleaños Amorcito!! Que pases un hermoso día, Te mereces lo mejor por ser una maravillosa mujer, 
            a pesar de nuestras pequeñas peleas 🤭siempre estas a mi lado,🥰me ayudas en todo lo que te pido,sos una excelente compañera,
            Que Dios siempre te acompañe!!Te Amo mucho!! Ariel❤
        </p>
    </div>
    <ul>
        <li>
            <a class="alexis" href="/palabras-de-alexis">Palabras de Alexis:</a>
            <a class="franco" href="/palabras-de-franco">Palabras de Franco:</a>
            <a class="rocio" href="/palabras-de-rocio">Palabras de Rocio:</a>
        </li>
    </ul>
</body>
</html>