<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/franco.css">
    <title>Palabras de Franco</title>
</head>

<body>
    <h1>Franco te decica estas hermosas palabras:</h1>
    <p class="inicio">
        <em>Primero que nada quería desearte un muy feliz Cumpleaños
            mamá, que todos tus deseos se cumplan y espero que te guste este presente humilde jeje</em>
    </p>
    <div>
        <img class="primera-foto" src="/images/franco.jpg" alt="">
        <p class="primera-palabra">
            Por donde empezar...
        </p>
        <p class="primera-palabra">
            Por el principio que te parece
        </p>
        <p class="primera-palabra">
            Jajaja, na ya enserió. Mi mamita alias la malita, te quiero un monton mamá,
            sos la mejor mamá que conocí en todo el mundo, nadie se compara con vos, hasta tus sobrinos te lo
            demuestran.
        </p>
        <p class="primera-palabra">
            Sos una maravillosa persona, un ejemplo a seguir.
        </p>
        <p class="primera-palabra">
            TE AMO MUCHO <3 </p>
    </div>
    <div>
        <img class="segunda-foto" src="/images/franco2.jpg" alt="">
        <p class="segunda-palabra">
            Sos una gran mujer, luchas por todas tus cosas,
        </p>
        <p class="segunda-palabra">
            y a pesar de todas las cosas malas que te pasan
        </p>
        <p class="segunda-palabra">
            igual seguis de pie con la frente en alto sin permitir que nadie te pise
        </p>
        <p class="segunda-palabra">
            ni te pase por encima
        </p>
    </div>
    <div>
        <img class="tercera-foto" src="/images/franco3.jpg" alt="">
        <p class="tercera-palabra">
            Que más decir que hasta dejas todas tus cosas que tienes que hacer solo para verme o para ayudarme en algo
            que tendría que hacer yo mismo
            pero vos igual estas ahí siempre, ya sea desvelandote para ayudarme en cosas de la escuela, folclore,etc.
            También con tus motivadoras palabras
            que dices que te encanta verme bailar y se nota que es verdad por que sino no estarias siempre ahí
            apoyandome en cada show,actos escolares, y hasta los
            examenes de folclore.
        </p>
    </div>

    <div>
        <img class="cuarta-foto" src="/images/Imagen de WhatsApp 2023-10-20 a las 18.12.20_f82be8bc.jpg">
        <p class="cuarta-palabra">
            Quería terminar con esta foto que aparte de ser una linda foto se ve muchos sentimientos ahí de ambas
            partes, donde hasta el propio fotografo dijo "En esta foto se ve el amor de una madre". Sin más que decir,
            solamente me queda agradecerte por todo lo que haces por nosotros a pesar de tu trabajo también haces de
            todo
            en la casa, no se como tenes fuerza para tanto la verdad. FELIZ CUMPLEAÑOS MAMÁ TE AMO MUCHO Y ESPERO QUE LA
            PASES HERMOSO
        </p>
    </div>
    <ul>
        <li>
            <a class="alexis" href="/palabras-de-alexis">Palabras de Alexis:</a>
            <a class="rocio" href="/palabras-de-rocio">Palabras de Rocio:</a>
            <a class="ariel" href="/palabras-de-ariel">Palabras de Ariel:</a>
        </li>
    </ul>
</body>

</html>