<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Feliz Cumpleaños</title>
</head>

<body>
    <h1>Feliz Cumpleaños</h1>
    <div class="container">
        <h2>Feliz Cumpleaños mamá:</h2>
        <p>
            Espero que la pases lindo en tu día, con todos tus seres queridos.
        </p>
        <p>
            Que Dios y la Virgen siempre te acompeñen en tu
            camino y seguí siendo esa gran persona que sos hoy en día.
        </p>
        <p>
            Espero que seas feliz cada segundo de tu vida y que disfrutes a lo maximo, mas este dia que es especial para
            vos.
        </p>
        <img class="mama" src="/images/mama.jpg" alt="">
    </div>
    <div class="caja-palabra">
        <h1 class="palabras">Palabras:</h1>
        <p class="apartado">
            En este apartado cada uno de estas personas te dedicaron unas palabras para este día. Espero que te gusten
        </p>
    </div>
        <ul>
            <li>
                <a class="franco" href="/palabras-de-franco">Palabras de Franco:</a>
                <a class="alexis" href="/palabras-de-alexis">Palabras de Alexis:</a>
                <a class="ariel" href="/palabras-de-ariel">Palabras de Ariel:</a>
                <a class="rocio" href="/palabras-de-rocio">Palabras de Rocio:</a>
            </li>
        </ul>
    
    <script src="/js/home.js"></script>
</body>

</html>