<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rocio.css">
    <title>Palabras de Rocio</title>
</head>
<body>
    <h1>Rocio te dedica estas hermosas palabras:</h1>
    <div class="container">
        <p class="palabra">
            En este día tan especial, le deseo todos los buenos deseos del mundo y que siga siendo una mujer fuerte y alegre,
            gracias por siempre tenerme en cuenta y hacerme sentir parte de su familia,  le agradezco por cada cosa y cada detalle y 
            por que pueda seguir compartiendo muchos más cumpleaños con usted como los últimos 5 años! SALUD!!!!
        </p>
        <img class="primera-foto" src="/images/rocio2.jpg" alt="">
        <img class="segunda-foto" src="/images/rocio3.jpg" alt="">
        <img class="tercera-foto" src="/images/rocio.jpg" alt="">
        
    </div>
    <ul>
        <li>
            <a class="alexis" href="/palabras-de-alexis">Palabras de Alexis:</a>
            <a class="franco" href="/palabras-de-franco">Palabras de Franco:</a>
            <a class="ariel" href="/palabras-de-ariel">Palabras de Ariel:</a>
        </li>
    </ul>
</body>
</html>